.fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background: #25D366;
    box-shadow: 2px 2px 3px #999;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: pulse 1s infinite;
  }
.fab:hover {
  cursor: pointer; 
}
.fab img {
  width: 30px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
  
